html{
    font-family: 'Raleway', sans-serif;
}
a:link{
    text-decoration: none;
}
 a:visited{
    color: black;
    text-decoration: none;
}
a:hover{
    color: #0065FC;
    text-decoration: overline;

}
.logo{
    margin-top: -25px;
    float: left;
}
.head{
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}

.Lien{
 margin-left: 30px;
}

h2{
    color: rgb(105, 105, 105);
}

.recherche{
    margin-top: 50px;
}
h2{
    margin-top: -15px;
    font-size: 15px;
}
#filtres{
    max-width: 60%;
    display: flex;
    justify-content:space-between;
}

#hebergement{
    float: left;
    max-width: 65%;
}
.hebergement{
    
    background-color: #F2F2F2;
    border-radius: 20px;
    display: flexbox;

}

.ham{
    
background-color: #ffffff;
border-radius: 20px;
display: inline-block;
box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.137);
margin-left: 20px;
margin-top: 10px;


}
img{
    border-radius: 20px;
    border: 5px solid white;
}
.nice
{
    max-width: 250px;
    max-height: 150px;
}
#popu {
    max-width: 35%;
    display: flex;
    
}

.populaires{
    display: flexbox;
    flex-direction: column;
    justify-content: space-around;
    background-color: #F2F2F2;
    border-radius: 20px;
    flex-direction: row;
    

}


figcaption{
    text-align: left;
    margin-left: 10px;
    font-size: 15px;
}

.fin{
    display: flex;
    justify-content: space-around;
    background-color: #F2F2F2;
    margin-left: -100px;

}
.fin p:nth-child(1){
margin-left: 40px;
}
ul{
    list-style: none;
    color: rgb(105, 105, 105);
}
.tittles{
    font-size: 25px;
    margin-left: 10px;
}