html{
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;

}
/*Logo et icones*/
.logo{
    width:10vw;
    height:3vw;
    display: flex;
    align-self: flex-start;


}
i.fas{
    color: #0065FC;
}
.info{
    display: flex;
    font-size: 1.3vw;
    
}
.info i.fas{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    border-radius: 50%;
    border:rgb(197, 197, 197) solid 1.3px;
    height: 2vw;
    width: 2vw;
}
#light{
    color: rgba(105, 105, 105, 0.233);
}
p i.fas{
    margin-right: 10px;
}


.secondary-container-wrapper i.fas{
margin-bottom: 8px;
}
/**/
/*Formulaires*/
form {
    width: 25vw;
    height: 3.5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  input {
    all: unset;
    color: rgb(0, 0, 0);
    border: rgba(0, 0, 0, 0.048) solid 1px;
    height: 50%;
    width: 100%;
    padding: 6px 10px;
  }
  ::placeholder {
    font-weight: bold;
    font-size: 1.2vw;
    color: rgb(0, 0, 0);
    opacity: 0.7; 
  }
  button{
      background-color: #0065FC;
      color: #ffffff;
      font-weight: bold;
      font-size: 1.2vw;
      border: none;
      height: 85%;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
  }
  #form i.fas{
      display: flex;
      align-items: center;
      justify-content: center;
      color: black;
      background-color:#F2F2F2;
      height: 85%;
      width: 25%;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      font-size: 1.2vw;
  }


.filter-tittle{
    font-weight: bold;
    font-size: 1.2vw;
}

.styled {

    border: solid 2px rgba(0, 0, 0, 0.041);
    font-size: 1.2vw;
    display: flex;
    text-align: flex-start;
    align-items: center;
    align-content: flex-start;
    justify-content:flex-start;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    height: 2.3vw;
    margin-top: 0.75em;
    margin-left: 1.5vw;
    padding:0;

    
    
    
}
#items-filter i.fas{

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 2.8vw;
    width: 2.8vw;
    color: #0065FC;
    background-color:#c8deff ;
    
}

.styled p{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.styled:hover {
    background-color:#0065fc1e;
    color: #0065FC;
    cursor: pointer;
}



/*Liens*/
header a{
    margin-right: 1.2vw;
    font-size: 1.2vw;
}
header a:link{
    color: black;
    text-decoration: none;
    font-size: 1.2vw;
}
header a:visited{
    color: black;
    text-decoration: none;
    font-size: 1.2vw;
}
header a:hover{
    color: #0065FC;
    padding-top: 15px;
    border-top-style: solid;
    width: fit-content;
    font-size: 1.2vw;
    

}
#alone{
    color: #0065FC;
    font-weight: bold;
    font-size: 1.2vw;
}


a:link{

    text-decoration: none;
}
a:visited{
    color: black;
    text-decoration: none;
}
a:hover{
    color: black;

}



/**/
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1{
    font-size: 1.8vw;
}
h2{
    color: rgb(105, 105, 105);
    margin-bottom: 15px;
    font-size: 1.2vw;
}
h3, h5{
    margin-left: 1.25rem;
    font-weight: bolder;
    font-size: 1.8vw;
}
h4{
    display: flex;
    justify-content: space-between;
    margin-left: 1.25rem;
    font-weight: bolder;
    font-size: 1.8vw;
}
h4 i.fas{
    margin-right: 0.5em;
}
  
#items-filter{
    max-width: 80%;
    display: flex;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
}
img{
    object-fit:cover;
}
#secondary-container{
    display: table;
    border-collapse: separate;
    border-spacing: 20px;
    
}
.secondary-container-wrapper{
    display: table-cell;
    background-color: #F2F2F2;
    border-radius: 20px;
    height: 100%;
    width: 68%;
    vertical-align: center;

    
}
.card{
    
    background-color: #ffffff;
    border-radius: 20px;
    display: inline-flex;
    align-items:flex-start;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.137);
    flex-flow: column;
    width: 24%;
    
}


.image{
    width: 97%;
    height: 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 3px solid white;
}
.secondary-container-wrapper2{

    display: table-cell;
    background-color: #F2F2F2;
    border-radius: 20px;
    height: 100%;
    width: 27%;
    padding: 5px;
 
}

.card2{
    
    background-color: #ffffff;
    border-radius: 20px;
    display: inline-flex;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.137);
    display: flex;
    margin-left:1vw;
    align-items: center;
    width: 90%;
    
   
 }

 .image2{
        width: 50%;
        height: 140px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border: 3px solid white;
        
    }
.image2_1{
        width: 62%;
        height: 140px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border: 3px solid white;
        
    }


figure{
    margin-right:0;
    margin-left: 4vw;

}

figcaption{
    font-weight: bolder;
    margin: 0;
    text-align: left;
    margin-left: 5px;
    font-size: 1.2vw;

    
}
figcaption p{
    margin: 5px;
}
.subtitles{
    color: rgb(105, 105, 105);
    margin-bottom: 15px;
    font-size: 1vw;
}
.details{
    font-weight: bold;
    margin-left: 4vw;
    font-size: 1.6vw;
}

#thrid-container{
    display: flex;
    justify-content:space-between;
}
.card3, .card4, .card5{
    
    background-color: #ffffff;
    border-radius: 20px;
    display: inline-block;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.137);
    margin:15px;
   
 }
 .card4{
     height: 15em;
 }
 .card5{
    height: 9em;
}


#thrid-container p{
    margin-bottom: 20px;
    margin-left: 10px;
}
.image3{
    width: 100%;
    height: 23rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    

}

.image4{
    width: 100%;
    height: 12rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.image5{
    width: 100%;
    height: 7rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#thrid-container{
    display: flex;
    justify-content: space-between;
}
.thrid-container-wrapper{
    display: flex;
}
.thrid-container-wrapper-sxs{
    display: flex;
    flex-direction: column;
}






#charte{
    width: 30vw;
}


.end{
    display: flex;
    align-items: flex-start;
    background-color: #F2F2F2;
    width: 100%;
    font-size: 1.2vw;

}
.end p{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    font-weight: bolder;
    margin-right: 25vw;
}

ul{
    list-style: none;
    list-style-type: none;
    padding:0;
    color: rgb(105, 105, 105);
}


/*MEDIA QUERIES*/

@media screen and (max-width: 768px)
{
    html{
        background-color: antiquewhite;

    }   
}

