html{
    font-family: 'Raleway', sans-serif;
}
a:link{
    text-decoration: none;
}
 a:visited{
    color: black;
    text-decoration: none;
}
a:hover{
    color: #0065FC;
    text-decoration: overline;

}
.logo{
    margin-top: -25px;
    float: left;
}
.head{
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}

.Lien{
 margin-left: 30px;
}

h2{
    color: rgb(105, 105, 105);
}

.recherche{
    margin-top: 50px;
}
h2{
    margin-top: -15px;
    font-size: 15px;
}
#filtres{
    max-width: 60%;
    display: flex;
    justify-content:space-between;
}
img{
    object-fit:cover;
}
#hebergement{
    float: left;
    max-width: 65%;
}
.hebergement{
    
    background-color: #F2F2F2;
    border-radius: 20px;
    display: flexbox;

}

.ham{
    
background-color: #ffffff;
border-radius: 20px;
display: inline-block;
box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.137);
margin-left: 20px;
margin-top: 10px;

}
.ham2{
    
    background-color: #ffffff;
    border-radius: 20px;
    display: inline-block;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.137);
    margin-left: 20px;
    margin-bottom: 20px;
    width: 350px;

    
    }

.nice
{
    width: 200px;
    height: 120px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 5px solid white;
}
.nice2
{
    width: 130PX;
    height: 100px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 5px solid white;
}

.nice3{
    
     border-top-left-radius: 20px;
     border-top-right-radius: 20px;

    }

.side{
    float: right;
    text-align: left;
    margin-top: 20px;
}



.populaires{

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction:column ;
    justify-content: space-around;
    align-content: flex-end;
    background-color: #F2F2F2;
    border-radius: 20px;
    height: 450px;
    margin-top: 40px;
    margin-right: -20px;
    width: 400px;


    

}


figcaption{
    text-align: left;
    margin-left: 10px;
    font-size: 15px;
}

.fin{
    display: flex;
    justify-content: space-around;
    background-color: #F2F2F2;
    margin-left: -100px;

}
.fin p:nth-child(1){
margin-left: 40px;
}
ul{
    list-style: none;
    color: rgb(105, 105, 105);
}
.tittles{
    font-size: 25px;
    margin-left: 10px;
}
.acti{
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.137);
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
    
}


